body {
    background-color: rgb(131, 162, 172);
}

.center-text {
    text-align: center;
}

/* Create two columns next to one other */
.column {
    background-color: rgb(23, 102, 116);
    text-decoration: none;
    color: white;
    /* float: left; */
    /* width: 25%; */
    /* padding: 5px; */
}
